.zong{
    width: 100%;
    height: 900px;
    display: inline-block;
}
.Top{
    border: 1px solid aqua;
    height:  10%;
    width: 100%;
    margin: 0pt;
}
.central_section{
    border: 1px solid darkblue;
    height: 80%;
    width: 100%;
    background-image: url(img/login_background.jpg);
}
.bottom{
    border: 1px solid salmon; 
    height: 10%;
    width: 100%;
    

}

.Login_options{
    width: 25%;
    height: 60%;
    border: 1px solid lawngreen; 
    box-shadow:2px 2px 10px #000;
    border-radius: 15px;
}
.in_one{
    width: 240px;
    height: 30px;
    border: 1px;
    border-radius: 2px;
    top: 10%;
}
.in_two{
    width: 240px;
    height: 30px;
    border: 1px  ;
    border-radius: 2px;

}